.login {
  min-height: 100vh;   
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./../../../public/imagenes/fonnnn.png');
  position:fixed;
}

.Formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    padding: 40px 120px;
    background-image: url('./../../../public/imagenes/fondoformulario.png');
    
    box-shadow: 10px 10px 20px rgb(87, 85, 85);
    color: rgb(60, 65, 62);
    font-size: 18px;
    
     
      

  
    
    
}

.boton-ingresar{
    background-color: rgb(163, 212, 160);
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    box-shadow: 2px 6px 15px rgba(31, 29, 29, 0.733);
    color: rgb(41, 43, 42);
    font-weight: normal;
 
}


.usuario{
    padding: 10px 45px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 6px 15px rgba(31, 29, 29, 0.733);
 
    
}

.password{
    padding: 10px 45px;
    border: none;
    box-shadow: 2px 6px 15px rgba(31, 29, 29, 0.733);
    border-radius:7px;
}

@media (max-width: 928px){

.Formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    padding: 10px 25px;
    background-image: url('./../../../public/imagenes/fondoformu.png');

    
}

.login {
  min-height: 100vh;   
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./../../../public/imagenes/fondowhanuevo.png');
  position:fixed;
}


}