


html, body, #root {
  height: 100%;
  margin: 0;
  background-color: rgb(247, 245, 243);
}

.container {
  display: flex;
  height: 100vh;   
  background-color: rgb(247, 245, 243);
  font-family: Arial, Helvetica, sans-serif;
  align-items: stretch;
  color: rgb(63, 62, 60);

 
}

.chat-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
height: 100%;
  background-image: url(../../../public/imagenes/whablanco.png);
  background-repeat: no-repeat;
  background-position: center;
}

.chat-box {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: rgb(63, 62, 60);
}

.eligeunchat {
  text-align: center;
  color: gray;
}

body {
  overflow: hidden;
}

@media (max-width: 928px){



  .chat-container {
    display: none; 
  }
  .container.chat-abierto .ContactSidebar {
    display: none; 
  }
 .container.chat-abierto .chat-container {
    display: block; 
    width: 100vw;
    height: 100vh;
  }
}